body{
    text-align: center;
}
img{
    height: 100px;
}
li{
    list-style: none;
    margin: 0 10px 0 10px;
    
}
a{
    text-decoration: none;
    color: purple;
    font-size: 20px;

}
h1, h2 ,h3 ,h4 ,h5 ,h6 ,p{
    color: purple;
}
button{
    background: purple;
    color: white;
    padding: 5px 20px 5px 20px;
    margin-top: 5px;
    border-radius: 5px;
    border: none;
}
h1::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

h2::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

h3::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

h4::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

h5::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

h6::first-letter{
    color: blue;
    font-weight: bolder;
    line-height: 110%;

}

p::first-line{
    color: blue;
    font-weight: bolder;
    line-height: 110%;
    text-decoration: underline;

}

li::first-letter{
    color: coral;
    font-weight: bolder;
    line-height: 50px;

}

a::first-letter{
    color: coral;
    font-weight: bolder;
    line-height: 110%;

}

label::first-letter{
    color: coral;
    font-weight: bolder;
    line-height: 110%;

}
p::marker {
        color: cornflowerblue;
        content: '<> ';
        font-size: 1.1em;
    }
li::marker {
    color: cornflowerblue;
    content: '<> ';
    font-size: 1.1em;
}
#greet::before{
    background: darkkhaki;
    color:darkslategray;
    content: "Tip:";
    padding-left: 3px;
    padding-right: 5px;
    border-radius: 10%;
}

#greet::after{
    background:darkkhaki;
    color:darkslategray;
    content: "closed";
    padding-right: 5px;
    border-radius: 20%;
}
