/* creating variables in css and constatnly using them */
$font-stack: Arial;
$primary-color: lightblue;

@mixin some-rules {
    color: $primary-color;
    font-size: 25px;
    font-weight: bold;
}

button {
    @include some-rules;
}

body {
    font: 100% $font-stack;
    color: $primary-color;
}
